@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");

:root {
  --font-base: "DM Sans", sans-serif;

  --primary-color: #EACE98;
  --secondary-color: #43520D;
  --black-color: #030303;
  --lightGray-color: #e4e4e4;
  --gray-color: #B5BCAE;
  --brown-color: #B7A229;
  --white-color: #ffffff;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
}
